<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'tab-0')">Pendientes</button>
    <button class="tablinks" onclick="openTab(event, 'tab-1')">Aprobados</button>
    <button class="tablinks" onclick="openTab(event, 'tab-2')">Rechazados</button>
</div>

<div id="tab-0" class="tabcontent">
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Creado</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let usuario of UsuariosPendientes">
            <td>{{usuario.id}}</td>
            <td>{{usuario.name}}</td>
            <td>{{usuario.lastname}}</td>
            <td>{{usuario.createon}}</td>
            <td>
                <button (click)="actualizarUsuario(usuario.id)" class="button success">Modificar</button>
            </td>
            <td>
                <button (click)="eliminarUsuario(usuario.id)" class="button danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>

<div id="tab-1" class="tabcontent">
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Creado</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let usuario of UsuariosAprobados">
            <td>{{usuario.id}}</td>
            <td>{{usuario.name}}</td>
            <td>{{usuario.lastname}}</td>
            <td>{{usuario.createon}}</td>
            <td>
                <button (click)="actualizarUsuario(usuario.id)" class="button success">Modificar</button>
            </td>
            <td>
                <button (click)="eliminarUsuario(usuario.id)" class="button danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="UsuariosRechazados">
    <div id="tab-2" class="tabcontent">
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Creado</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let usuario of UsuariosRechazados">
                <td>{{usuario.id}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.lastname}}</td>
                <td>{{usuario.createon}}</td>
                <td>
                    <button (click)="actualizarUsuario(usuario.id)" class="button success">Modificar</button>
                </td>
                <td>
                    <button (click)="eliminarUsuario(usuario.id)" class="button danger">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
</div>