<app-header></app-header>
<div class="container">
    <p>Agregar Usuario</p>

    <form>
        <div class="row">
            <div class="col-25">
                <label for="name">Nombre</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]="user.name" type="text" id="name" name="name" placeholder="Tu nombre">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lastname">Apellido</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]="user.lastname" type="text" id="lastname" name="lastname" placeholder="Tu Apellido">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="state">Estado</label>
            </div>
            <div class="col-75">
                <select [(ngModel)]="user.state" id="state" name="state">
                    <option value="0">Pendiente</option>
                    <option value="1">Aprobado</option>
                    <option value="2">Rechazado</option>
                </select>
            </div>
        </div>
        <div *ngIf="thereAreErrors">
            <div *ngFor="let error of errors">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong> {{error}}.</strong>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <button (click)="crear()" class="success">Guardar</button>
        </div>
    </form>
</div>