<button onclick="getElementById(event, 'block')">Eliminar</button>

<div id="{{userid}}" class="modal">
  <span onclick="getElementById(userid, 'none')" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Eliminar Usuario</h1>
      <p>Estas seguror de querer eliminar el usuario? {{userid}}</p>

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="button" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>
