<div class="container">
    <div class="login">
      <div class="login-triangle"></div>
  
      <h2 class="login-header">Registrar usuario</h2>
  
      <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
        <p>
          <input type="text" name="username" placeholder="username" ngModel required>
        </p>
        <p>
          <input type="email" name="email" placeholder="Email" ngModel required>
        </p>
        <p>
          <input type="password" name="password" placeholder="Password" ngModel required>
        </p>
        <div class="alert" *ngIf="noSuccess">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong> {{message}}.</strong>
        </div>
        <p>
          <input type="submit" value="Register">
        </p>
      </form>
      <a routerLink="/auth/login">Ya tengo una cuenta</a>
    </div>
  </div>