.button {
  /* background-color: #4CAF50; Green */
  border: none;
  color: rgb(22, 20, 20);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.success {
  border-radius: 3px;
  background-color: #33a038;
}
.danger {
  border-radius: 2px;
  background-color: #da3232;
}
.info {
  border-radius: 2px;
  background-color: #908fca;
}