<div class="container">

    <div class="login">
        <div class="login-triangle"></div>

        <h2 class="login-header">Login</h2>

        <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
            <p>
                <input type="email" name="email" placeholder="Email" ngModel required>
            </p>
            <p>
                <input type="password" name="password" placeholder="Password" ngModel required>
            </p>
            <div class="alert" *ngIf="noSuccess">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong> {{message}}.</strong>
            </div>
            <p>
                <input type="submit" value="Entrar">
            </p>
        </form>
        <a routerLink="/auth/register">Crear cuenta</a>
    </div>
</div>