<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" routerLink="/dashboard">Listar Estudiantes</a>
    <a href="#" (click)="logout()">Salir</a>
</div>

<div id="main">
    <!-- Colocar aqui el contenido -->
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>